.bi {
	vertical-align: -.125em;
	fill: currentColor;
  }

  .bd-mode-toggle {
	z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
	display: block !important;
  }

  .text-multi-color{
    background: transparent;
    background: linear-gradient(#cbd5e1,#0f172a);
    

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }



  .animacion{
    animation: titilear 3s infinite ;
  }

  @keyframes titilear {
      from{
        background-color: #0ea5e9;
        color: #fff;
      }


      to{
        background-color: #6366f1;
        color:#fff
      }
  }


  .animacion:hover{
    animation: none;
  }

  .foto{
    object-fit: cover;
    width: 100px;
    background-color: transparent;
}

